.crystal, img {
    height: 50px; width: 50px;
    
    display: inline-block;
    margin: 5px;
}

#gameScore {
    color: deeppink;
    font-size: 43px;
    
}

.rules {
    
    margin: 5px;
    padding: 20px;
    font-size: 35px;
    color: gold;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: crimson;
}

body {
    background-image: url("../images/goten.jpg");
    background-size: 1000px 900px;
  }

  p2 {
      font-size: 25px;
      color: salmon;
  }

  #playerScore {
      font-size: 35px;
      color: crimson;
  }
  