.crystal {
    height: 50px; width: 50px;
    background-color: blueviolet;
    display: inline-block;
    margin: 5px;
}

#gameScore {
    color: darkgreen;
    font-size: 33px;
    
}

.rules {
    
    margin: 5px;
    padding: 20px;
}